    .ball-area {
        width: 100vw;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        position: sticky;
        top: 0;
        background-color: #333;
        color: #fff;

        .magicCube {
            z-index: 1000;
            perspective: 240px;
            transform-style: preserve-3d;
            width: 40px;
            height: 40px;
            position: relative;
            animation: 2s linear .5s infinite alternate-reverse forwards running rotateCube;

            img {
                width: 30px;
                height: 30px;
            }

            .magicCube-face {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                width: 40px;
                height: 40px;
                position: absolute;
            }

            .magicCube-one {
                background-color: transparent;
                transform: translateZ(20px);
            }

            .magicCube-two {
                background-color: transparent;
                transform: translateZ(-20px);
            }

            .magicCube-three {
                background-color: transparent;
                transform: rotateY(-90deg) translateZ(20px);
            }

            .magicCube-four {
                background-color: transparent;
                transform: rotateY(90deg) translateZ(20px);
            }

            .magicCube-five {
                background-color: transparent;
                transform: rotateX(90deg) translateZ(20px);
            }

            .magicCube-six {
                background-color: transparent;
                transform: rotateX(-90deg) translateZ(20px);
            }
        }

        .gieie {
            animation: 2s linear .5s 1 normal forwards running giegie;
        }
    }

    .a-area-one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px;
        position: sticky;
        top: 70px;
        background-color: #fff;

        .a-area-one-wangzhan {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            background-color: #333;
            color: #fff;
            border: 1px solid;
            transition: all 1s ease-out;
        }

        .a-area-one-wangzhan:hover,
        .a-area-one-wangzhan:focus {
            background-color: #fff;
            color: #333;
        }
    }

    .fluid-area {
        width: 100vw;
        /* height: 500px; */
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        /* grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); */
        /* grid-template-columns: 1fr 1fr; */
        /* grid-auto-flow: row dense; */
        row-gap: 20px;
        overflow-y: auto;
        justify-content: space-around;

        .fluid-area-block {
            flex: 0 0 45%;
            padding: 4px;
            text-indent: 32px;
            border-radius: 8px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 8;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    @keyframes giegie {
        0% {
            font-size: 0;
        }

        100% {
            font-size: 20px;
        }
    }

    @keyframes rotateCube {
        0% {
            transform: translateX(0) rotate3d(0, 0, 0, 0);
        }

        100% {
            transform: translateX(200px) rotate3d(1, 1, 1, 360deg);
        }
    }